{% extends 'base.html' %}
{% block title %}
    <title>Login Page</title>
{% endblock title %}

{% block content %}
<style>
  .gradient-custom {
/* fallback for old browsers */
background: #f093fb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}
#abc{
  color: red;
}
.links
{
  color: white;
}
</style>


<section class="vh-100 gradient-custom" style="background-color: #f093fb;">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-3 d-none d-md-block">
               
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-8 p-lg-12 text-black">
  
                  <form action="{% url 'employee_login' %}" method="post">
                    {% csrf_token %}
                    <!-- {% if error  %}
        <div style="color:rgb(255, 0, 0); background-color:rgb(211, 151, 151); margin-left: 11rem;
        width: 171px;">
        {{error}}
        </div>
        {% endif %} -->

        {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} id="abc" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Login Page</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-4">
                      <label for="username" class="form-label" name="uname">Email</label>
                      <input type="email"  id="form2Example17" class="form-control form-control-lg" name="uname" placeholder="Email">   
                    </div>
  
                    
                    <div class="form-outline mb-4">
                      <label for="form2Example27" class="form-label">Password</label>
                      <input type="password" name="pwd" class="form-control form-control-lg" placeholder="Password" id="form2Example27">
                    </div>



                    <div class="pt-1 mb-4">
                     
                      <button type="submit" class="btn btn-dark btn-lg btn-block">Log In</button>
                      <button class="btn btn-dark btn-lg btn-block"><a class="links" href="{% url 'register' %}">Signup</a></button>



                    </div>
  
                   
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}