<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: white;
        }
        h2,h3,h5{
            color: black;
        }
    </style>
</head>
<body>
    <h2>20 Rules of Work to Never Ignore:</h2>
<h3>
As said earlier, rules are required to protect business from litigation and maintain work-life balance. Through proper execution and implementation of rules, employees are protected and made aware of their responsibilities. It indirectly leads to growth of the business.
<h2>
The 20 rules that you as an employee must observe are,</h2>
<h5>
1. Maintain punctuality:

Whether it’s opening the shop for business or reaching your desk at corporate company, maintaining punctuality is critical for the growth of the business. Always ensure that you reach at the time specified.<br><br>
2. Follow rules:

Like said earlier in the article, rules are laid down for employees to abide by. It is for the benefit of them as well as the company. You have a problem with certain aspect, talk it out with your supervisor to know how to handle it.<br><br>
3. Know Operating Procedures:

You may be assigned to work on a process or on certain equipment, then make sure you have gone through the operating procedures. By doing so, you make others aware about it as well.<br><br>
4. Know dress code:

You need to wear your attire base on your profession. Don’t overdo or make a clown of yourself.

Dressing to the type of work is best as it creates an impression about you. Most of the time formal dress code is always welcome.<br><br>
5. Observing sentiment:

This is a scenario observed when hiring or giving promotion. It is better to not bring in family issues between works or else it would harm the image of the company or the business.<br><br>
6. Being objective:

It may seem difficult to be objective at all instances, but if you need to see growth then try allocating jobs with certain timelines to keep track. This will help in the growth of the company or business.<br><br>
7. Keep emotion at check:

As this is workplace, it is advisable to keep your emotion at check. Don’t cry over petty issues or joke too frequently at your desk. You would lose your credibility in the long run.<br><br>
8. Maintain confidentiality:

Any workplace has its secrecy and you being a part of the work culture should know where and how to maintain confidentiality. There would be instances when your boss would share a moment that is required to be kept as a secret. You need to understand its importance and depth.<br><br>
9. Be smart in work:

Handling your daily tasks is your priority and you need to know which task is to be prioritized.

Besides, work hard and you are sure to be rewarded. Don’t try to shy away and be lazy. Be attentive and smart in your work always.<br><br>
10. Don’t misuse:

Any company would provide resources to get their work done with ease. You should ensure that you do not misuse those resources for your personal benefits.

Even if you are in charge for office equipment’s, do not consider to flick out a piece or two as the numbers may be unnoticeable.<br><br>
11. Follow ethics:

Being assigned to a specific job means you are to execute the task without glitches. There are certain ethics to be followed at workplace and you must take care to abide by them.<br><br>
12. Clean your workplace:

Maintain your workplace by cleaning your area of work. Try to implement the 5S scheme and abide by it. Having a clean space around you gives you more inspiration to work and impacts you with positivity.<br><br>
13. Limit visitors:

While at workplace, do not entertain visitors coming to your company frequently. You have to refrain from allowing frequent visits of your friends or family members. Inform them about it and this helps to increase your productivity.<br><br>
14. Adhere to break schedule:

Every workplace defines a specific time or schedule for having lunch or coffee breaks. It’s always good to abide by those time schedules. Do not take liberty of breaking rules for such activities.<br><br>
15. Maintain hygiene:

As restrooms are provided at each work place, it is our duty to ensure that the rest rooms are maintained with hygiene. Take due care of the hygiene of rest room as you take care of other work space that you are assigned to.<br><br>
16. Maintain relationship:

Your workplace is like another family, so try to maintain proper relations with everyone.

Keeping a healthy relationship with everyone helps you to grow and learn the work process.<br><br>
17. Avoid long hours:

Prioritizing your work and knowing its importance could complete your work on time. Moreover, by managing your time for the task, you need to complete the work during specified working hours.

By staying back, extending your working time will affect your work-life balance and bring in stress. So avoid working long hours at home.<br><br>
18. Read before you sign:

There are many documents that you may have to sign for each assignment or project. It’s better to read through, before signing any documents as you could get committed to something you don’t intend to.<br><br>
19. Use of email:

You would be assigned email ID for official purpose and you need to follow protocols. Refrain from using your email for personal purpose. Many a times people get to use them and get tempted to misuse. But it’s your duty not to allow personal matters to be sent via official ID.<br><br>
20. Maintain equipment:

Every workplace provides equipment to be used for executing the task efficiently. Whatever be the equipment, it is advisable to see that the equipment is maintained and in case of any breakdown, call in the service engineers to repair on time.</h3></h5>
</body>
</html>